    body {
    background-color:white;
    font-family: 'Open Sans', sans-serif;
    }
    .navbar {
    position:absolute;
    z-index: 10000;
    width: 100%;
    left:150px;
    }
    .navbar-toggler{
    font-size: 40px;
    z-index: 1000;
    }  
    .nav-link{
    font-size: 22px;
    color:#f8f9fa;
    text-decoration: none !important;
    z-index: 10000;
    }
    .nav-link:hover{
    color:#f8f9fa;  
    }
    .nav-item{
    padding-right:4px;
    }
    .fa-bars {
    z-index: 1000;
    }
    .navbar-text{
    color:#f8f9fa;
    font-size: 20px;
    }
    .navbar-text i {
    font-size:18px;
    }
    #hero-image {
    background-image: url("../img_travel_agency/ruins.jpeg"); 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height:370px;
    width: 100%;
    position: relative; 
    z-index:10;
    }
    #hero-image-color {
    background-color: #a69173;
    position: absolute;
    z-index: 100;
    height: 100%;
    width: 100%;
    opacity:0.5;
    }
    .intro-narrative__expanded-link {
    margin-top: 1.9rem;
    text-align: center;
    }
     .intro_section_headline {
    /* position: absolute;
    top:70px; */
    z-index:100000;
    }
    .navbar-toggler{
    font-size: 40px;
      }
    .nav-link{
    font-size: 22px;
    color:#f8f9fa;
    text-decoration: none !important;
    }
    .nav-link:hover{
    color:#f8f9fa;  
    }
    .nav-item{
    padding-right:4px;
    }
    .navbar-text{
    color:#f8f9fa;
    font-size: 20px;
   }
    .navbar-text i {
    font-size:18px;
    }
    .img-ruins {
    width: 350px;
    height: 270px;
    }
    .card {
    transition: transform 0.7s;
    }
    .card:hover {
    transform: scale(1.05);
    -webkit-box-shadow: 2px 2px 20px 1px rgba(194,194,194,0.89);
    -moz-box-shadow: 2px 2px 20px 1px rgba(194,194,194,0.89);
    box-shadow: 2px 2px 20px 1px rgba(194,194,194,0.89);
    z-index: 100;
    }
    .hr-short {
    border: 1px solid;
    background-color:#a62d3d;
    width:25%;
    margin:0 auto;
    }
    .gallery-button {
    font-size:1.5em;
    }
    .gallery {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3;
    -webkit-column-width: 33%;
    -moz-column-width: 33%;
    column-width: 33%; }
    .gallery .pics {
    -webkit-transition: all 350ms ease;
    transition: all 350ms ease; }
    .gallery .animation {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }
    
    @media (max-width: 450px) {
    .gallery {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-width: 100%;
    -moz-column-width: 100%;
    column-width: 100%;
    }
    }
    
    @media (max-width: 400px) {
    .btn.filter {
    padding-left: 1.1rem;
    padding-right: 1.1rem;
    }
    }
    #footer {
    background-color:#354444;
    opacity: 0.9;
    }
    #footer-hr {
      background-color:#244930;
    }
    .footer-links {
    text-decoration: none !important;
    }

    @media only screen and (max-width: 670px) {
    .gallery-button .text-lead {
    font-size: 15px;
    }
     }
     
     
    @media only screen and  (max-width: 260px) and (min-width: 0px) {
    #hero-image-header {
    font-size: 18px;
    }
     }

    @media only screen and  (max-width: 430px) and (min-width: 260px) {
  #hero-image-header {
  font-size: 25px;
  }
   }
  @media only screen and  (max-width: 695px) and (min-width: 430px) {
    #hero-image-header {
    font-size: 40px;
    }
  }
  @media only screen and  (max-width: 750px) and (min-width: 695px) {
    #hero-image-header {
    font-size: 50px;
    }
  }
  @media only screen and  (max-width: 950px) and (min-width: 750px) {
    #hero-image-header {
    font-size: 60px;
    }
  }

  @media only screen and  (max-width: 485px) and (min-width: 0px) {
    #hero-image-subtext {
    font-size: 10px;
    }
  }
  @media only screen and  (max-width: 695px) and (min-width: 485px) {
    #hero-image-subtext {
    font-size: 15px;
    }
  }
  @media only screen and  (max-width: 485px) and (min-width: 0px) {
    div#hero-image {
      height: 210px;
      }
    }
    @media only screen and  (max-width: 617px) and (min-width: 470px) {
    div#hero-image {
    height: 260px;
        }
      }
    @media only screen and  (max-width: 750px) and (min-width: 617px) {
    div#hero-image {
    height: 260px;
       }
     }

  /* @media only screen and  (max-width: 752px) and (min-width: 380px) {
    .img-ruins {
      height:320px;
      width:650px;
    }
  }
  @media only screen and  (max-width: 1400px) and (min-width: 1107px) {
    .img-ruins {
      height:520px;
      width:950px;
    }
  } */

