body {
  background-color:white;
  font-family: 'Open Sans', sans-serif;
}

#heroimage {
  font-family: 'Roboto Slab', serif; 
  background-image: url("../img_travel_agency/hero-image2_resized.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 720px;
  position: relative;
}

#headline {
  color:#f8f9fa;
}

.intro-narrative__expanded-link {
  margin-top: 1.9rem;
  text-align: center;
}
.tiles {
  background-color:#f8f9fa;
  width: 33%;
  height: 15%;
  position: relative;
  transition: transform 0.7s;
  cursor: pointer;
}  
.tiles:hover {
  transform: scale(1.05);
  -webkit-box-shadow: 2px 2px 20px 1px rgba(194,194,194,0.89);
  -moz-box-shadow: 2px 2px 20px 1px rgba(194,194,194,0.89);
  box-shadow: 2px 2px 20px 1px rgba(194,194,194,0.89);
  z-index: 100;
}
.tiles img{
  width:100%;
}
.tileNames {
  position: absolute;
  top: 140px;
  width:100%;
  color:white;
}
#tileOntop1 {
  background-color:#ff6670;
}
#tileOntop2 {
  background-color:#e04168;
}
#tileOntop3 {
  background-color: #f9986e;
}
#tileOntop4 {
  background-color:yellowgreen;
}
#tileOntop5 {
  background-color:#a69173;
}
#tileOntop6 {
  background-color:#7bb7ca;
}
#tileOntop7 {
  background-color:rgba(255, 115, 0, 0.938);
}
#tileOntop8 {
  background-color:turquoise;
}
#tileOntop9 {
  background-color:#d6b6b1;
}
.tilesColorFilter{
  position: absolute;
  opacity: 0.5;
  top:0;
  bottom:0;
  height:345px;
  width: 100%;
}
.about-us-header {
  color:#a62d3d;
}
.hr-mainPage {
  border: 1px solid;
  width:3%;
  margin:0 auto;
  background-color: grey;
}
.whatTo:hover {
cursor: pointer;
}
.what-to-do-content{
  position: relative;
}
.whatTodo_heading {
  position: absolute;
  top:45%;
  width:100%;
  text-align: center;
  z-index:1000;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
  0px 8px 13px rgba(0,0,0,0.1),
  0px 18px 23px rgba(0,0,0,0.1);
}
.whatTodo_colors {
  opacity: 0.5;
  position: absolute;
  top:0;
  bottom:0;
  width:100%;
  height:100%;
}
#whereTogo-colors {
  background-color: black;
}
#whatTosee-colors {
background-color: rgb(14, 85, 14);
}
#howTotravel-colors {
background-color:#eac879;
}
.no-gutters {
margin-right: 0;
margin-left: 0;
padding-right: 0;
  padding-left:0;
}
.parallax {
background-image: url("../img_travel_agency/find_yourself2.jpeg");
height:300px;
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}
.parallax-color {
  background-color:black;
  position: absolute;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  z-index: 300;
}
#parallax-header{
  z-index:1000;
  position:absolute;
  top:35%;
}
.quote {
  font-family: 'Niconne', cursive;
  font-size: 100px;
  color:white;
  opacity:75%;
  text-shadow: 2px 1px black;
  position: absolute;
  z-index: 10000;
  width: 100%;
}
#section1-moreInformation{
  display:none;
}
.intro_section_headline {
  position: absolute;
  top:75px;
  z-index:100000;
  height: auto;
} 

.footer-links {
  text-decoration: none !important;
}
#footer-hr {
  background-color: #244930;
}
@media only screen and (max-width: 734px) {
    .intro-head {
      font-size: 30px;
    }
  }
@media only screen and (max-width: 600px) {
  .tileHeaders  {
    font-size: 25px;
  }
}
@media only screen and (max-width: 670px) {
  #parallax-header {
    font-size: 45px;
  }
}

.navbar-toggler{
  font-size: 40px;
}

.nav-link{
  font-size: 22px;
  color:#f8f9fa;
  text-decoration: none !important;
}
.nav-link:hover{
  color:#f8f9fa;  
}
.nav-item{
  padding-right:4px;
}
.navbar-text{
  color:#f8f9fa;
  font-size: 20px;
}
.navbar-text i {
  font-size:18px;
}


@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}
